.main {
    background-color: #08003a;
    height: 500px;
}

.title {
    margin-top: 0px;
    color: #fff;
    text-align: center;
    font-weight: 500px;
    line-height: 1.2;
    font-family: inherit;
    font-size: 36px;
}

.bgr {
    background-color: #fff;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    margin: auto;
    border-radius: 3px;
}

.show_case {
    border: none;
    outline: none;
    padding-top: 15px;
    padding-left: 1px;
}

input:focus {
    border: none;
    outline: none;
}

.dowload {
    color: #fff;
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
}

.border {
    border: 1px solid #ff5916;
    width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: #08003a;
    color: #fff;
}

.border>.row {
    margin: auto;
    padding: 0;
    text-align: center;
}

.tabs-header {
    border-bottom: 3px solid #e25553;
}