.login {
    width: 300px;
    height: 350px;
    border: 5px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 35%;
    background-color: #ff7200;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 25px;
}

h2 {
    width: 200px;
    height: 40px;
    font-size: 26px;
    font-family: sans-serif;
    background-color: #fff;
    color: #ff7200;
    border-radius: 10px;
    margin-left: 50px;
    padding: 5px;
    padding-top: 15px;
    border: none;
    font-weight: 600;
    text-shadow: 0 7px 25px #ff7200;
}

input {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    padding: 1px 2px;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ff7200;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

button {
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ff7200;
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.icons ion-icon {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
}